Repository shaliniblitzy/page-object-model-eyegxw, changes with the owners that .github/CODEOWNERS names for each.
All owners: @qa-lead, @test-architect, @qa-automation-team, @devops-team

.github/CODEOWNERS:

# When pull requests modify specific files or directories, GitHub automatically
# requests reviews from the designated owners.

# Default ownership - QA Lead will be requested to review all changes
# unless a more specific rule below applies
* @qa-lead

# Core framework components
/src/test/com/storydoc/core/ @test-architect @qa-lead

# Configuration classes
/src/test/com/storydoc/config/ @test-architect

# Exception classes
/src/test/com/storydoc/exceptions/ @test-architect

# Page objects
/src/test/com/storydoc/pages/ @qa-automation-team

# Element locators
/src/test/com/storydoc/locators/ @qa-automation-team

# Test cases
/src/test/com/storydoc/tests/ @qa-automation-team @qa-lead

# Utility classes
/src/test/com/storydoc/utils/ @qa-automation-team

# Data models
/src/test/com/storydoc/models/ @qa-automation-team

# Constants
/src/test/com/storydoc/constants/ @qa-automation-team

# Reporting components
/src/test/com/storydoc/reports/ @qa-automation-team

# Configuration files
/src/test/config/ @qa-lead @test-architect

# Test data files
/src/test/data/ @qa-automation-team

# Infrastructure configuration
/infrastructure/ @devops-team @test-architect

# GitHub workflow files
/.github/workflows/ @devops-team @qa-lead

# TestNG configuration files
/src/test/testng*.xml @qa-automation-team @qa-lead

# Documentation
/docs/ @qa-lead @qa-automation-team

# Markdown files
*.md @qa-lead

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/constants/TimeoutConstants.java
  src/test/com/storydoc/constants/TimeoutConstants.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/core/BaseTest.java
  src/test/com/storydoc/core/BaseTest.java
Owners: @test-architect, @qa-lead

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/core/DriverFactory.java
  src/test/com/storydoc/core/DriverFactory.java
Owners: @test-architect, @qa-lead

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/core/RetryAnalyzer.java
  src/test/com/storydoc/core/RetryAnalyzer.java
Owners: @test-architect, @qa-lead

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/core/SuiteListener.java
  src/test/com/storydoc/core/SuiteListener.java
Owners: @test-architect, @qa-lead

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/core/TestListener.java
  src/test/com/storydoc/core/TestListener.java
Owners: @test-architect, @qa-lead

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/core/WebDriverManager.java
  src/test/com/storydoc/core/WebDriverManager.java
Owners: @test-architect, @qa-lead

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/exceptions/ConfigurationException.java
  src/test/com/storydoc/exceptions/ConfigurationException.java
Owners: @test-architect

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/exceptions/FrameworkException.java
  src/test/com/storydoc/exceptions/FrameworkException.java
Owners: @test-architect

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/locators/CommonLocators.java
  src/test/com/storydoc/locators/CommonLocators.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/locators/SignupPageLocators.java
  src/test/com/storydoc/locators/SignupPageLocators.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/locators/SuccessPageLocators.java
  src/test/com/storydoc/locators/SuccessPageLocators.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/models/TestData.java
  src/test/com/storydoc/models/TestData.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/models/UserAccount.java
  src/test/com/storydoc/models/UserAccount.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/pages/BasePage.java
  src/test/com/storydoc/pages/BasePage.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/pages/SignupPage.java
  src/test/com/storydoc/pages/SignupPage.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/pages/SuccessPage.java
  src/test/com/storydoc/pages/SuccessPage.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/reports/ExtentManager.java
  src/test/com/storydoc/reports/ExtentManager.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/reports/ExtentTestManager.java
  src/test/com/storydoc/reports/ExtentTestManager.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/reports/ReportConfiguration.java
  src/test/com/storydoc/reports/ReportConfiguration.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/reports/ScreenshotReporter.java
  src/test/com/storydoc/reports/ScreenshotReporter.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/reports/TestLogger.java
  src/test/com/storydoc/reports/TestLogger.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/tests/ConfirmationPageTests.java
  src/test/com/storydoc/tests/ConfirmationPageTests.java
Owners: @qa-automation-team, @qa-lead

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/tests/CrossBrowserTests.java
  src/test/com/storydoc/tests/CrossBrowserTests.java
Owners: @qa-automation-team, @qa-lead

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/tests/ElementValidationTests.java
  src/test/com/storydoc/tests/ElementValidationTests.java
Owners: @qa-automation-team, @qa-lead

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/tests/ErrorHandlingTests.java
  src/test/com/storydoc/tests/ErrorHandlingTests.java
Owners: @qa-automation-team, @qa-lead

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/tests/FormValidationTests.java
  src/test/com/storydoc/tests/FormValidationTests.java
Owners: @qa-automation-team, @qa-lead

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/tests/SignupTests.java
  src/test/com/storydoc/tests/SignupTests.java
Owners: @qa-automation-team, @qa-lead

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/utils/AssertUtils.java
  src/test/com/storydoc/utils/AssertUtils.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/utils/EmailGenerator.java
  src/test/com/storydoc/utils/EmailGenerator.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/utils/FileUtils.java
  src/test/com/storydoc/utils/FileUtils.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/utils/JavaScriptUtils.java
  src/test/com/storydoc/utils/JavaScriptUtils.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/utils/LogUtils.java
  src/test/com/storydoc/utils/LogUtils.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/utils/PasswordGenerator.java
  src/test/com/storydoc/utils/PasswordGenerator.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/utils/RandomDataGenerator.java
  src/test/com/storydoc/utils/RandomDataGenerator.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/utils/ScreenshotUtils.java
  src/test/com/storydoc/utils/ScreenshotUtils.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/utils/WaitUtils.java
  src/test/com/storydoc/utils/WaitUtils.java
Owners: @qa-automation-team

Add public-samples/page-object-model-eyegxw/src/test/config/config.properties
  src/test/config/config.properties
Owners: @qa-lead, @test-architect

Add public-samples/page-object-model-eyegxw/src/test/config/dev.properties
  src/test/config/dev.properties
Owners: @qa-lead, @test-architect

Add public-samples/page-object-model-eyegxw/src/test/config/staging.properties
  src/test/config/staging.properties
Owners: @qa-lead, @test-architect
