Repository shaliniblitzy/page-object-model-eyegxw, changes with the owners that .github/CODEOWNERS names for each.
All owners: @qa-lead, @test-architect, @qa-automation-team, @devops-team

.github/CODEOWNERS:

# When pull requests modify specific files or directories, GitHub automatically
# requests reviews from the designated owners.

# Default ownership - QA Lead will be requested to review all changes
# unless a more specific rule below applies
* @qa-lead

# Core framework components
/src/test/com/storydoc/core/ @test-architect @qa-lead

# Configuration classes
/src/test/com/storydoc/config/ @test-architect

# Exception classes
/src/test/com/storydoc/exceptions/ @test-architect

# Page objects
/src/test/com/storydoc/pages/ @qa-automation-team

# Element locators
/src/test/com/storydoc/locators/ @qa-automation-team

# Test cases
/src/test/com/storydoc/tests/ @qa-automation-team @qa-lead

# Utility classes
/src/test/com/storydoc/utils/ @qa-automation-team

# Data models
/src/test/com/storydoc/models/ @qa-automation-team

# Constants
/src/test/com/storydoc/constants/ @qa-automation-team

# Reporting components
/src/test/com/storydoc/reports/ @qa-automation-team

# Configuration files
/src/test/config/ @qa-lead @test-architect

# Test data files
/src/test/data/ @qa-automation-team

# Infrastructure configuration
/infrastructure/ @devops-team @test-architect

# GitHub workflow files
/.github/workflows/ @devops-team @qa-lead

# TestNG configuration files
/src/test/testng*.xml @qa-automation-team @qa-lead

# Documentation
/docs/ @qa-lead @qa-automation-team

# Markdown files
*.md @qa-lead

Add public-samples/page-object-model-eyegxw/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @qa-lead

Add public-samples/page-object-model-eyegxw/.github/dependabot.yml
  .github/dependabot.yml
Owners: @qa-lead

Add public-samples/page-object-model-eyegxw/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @qa-lead

Add public-samples/page-object-model-eyegxw/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @qa-lead

Add public-samples/page-object-model-eyegxw/.github/workflows/build.yml
  .github/workflows/build.yml
Owners: @devops-team, @qa-lead

Add public-samples/page-object-model-eyegxw/.github/workflows/test.yml
  .github/workflows/test.yml
Owners: @devops-team, @qa-lead

Add public-samples/page-object-model-eyegxw/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @qa-lead

Add public-samples/page-object-model-eyegxw/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @qa-lead

Add public-samples/page-object-model-eyegxw/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @qa-lead

Add public-samples/page-object-model-eyegxw/docs/ARCHITECTURE.md
  docs/ARCHITECTURE.md
Owners: @qa-lead

Add public-samples/page-object-model-eyegxw/docs/CONTRIBUTING.md
  docs/CONTRIBUTING.md
Owners: @qa-lead

Add public-samples/page-object-model-eyegxw/docs/PAGE-OBJECTS.md
  docs/PAGE-OBJECTS.md
Owners: @qa-lead

Add public-samples/page-object-model-eyegxw/docs/README.md
  docs/README.md
Owners: @qa-lead

Add public-samples/page-object-model-eyegxw/docs/SETUP.md
  docs/SETUP.md
Owners: @qa-lead

Add public-samples/page-object-model-eyegxw/docs/TEST-STRATEGY.md
  docs/TEST-STRATEGY.md
Owners: @qa-lead

Add public-samples/page-object-model-eyegxw/docs/TROUBLESHOOTING.md
  docs/TROUBLESHOOTING.md
Owners: @qa-lead

Add public-samples/page-object-model-eyegxw/docs/USAGE.md
  docs/USAGE.md
Owners: @qa-lead

Add public-samples/page-object-model-eyegxw/infrastructure/docker/Dockerfile
  infrastructure/docker/Dockerfile
Owners: @devops-team, @test-architect

Add public-samples/page-object-model-eyegxw/infrastructure/docker/docker-compose.yml
  infrastructure/docker/docker-compose.yml
Owners: @devops-team, @test-architect

Add public-samples/page-object-model-eyegxw/infrastructure/kubernetes/selenium-grid.yaml
  infrastructure/kubernetes/selenium-grid.yaml
Owners: @devops-team, @test-architect

Add public-samples/page-object-model-eyegxw/infrastructure/scripts/cleanup.sh
  infrastructure/scripts/cleanup.sh
Owners: @devops-team, @test-architect

Add public-samples/page-object-model-eyegxw/infrastructure/scripts/setup-env.sh
  infrastructure/scripts/setup-env.sh
Owners: @devops-team, @test-architect

Add public-samples/page-object-model-eyegxw/infrastructure/selenium-grid/docker-compose.yml
  infrastructure/selenium-grid/docker-compose.yml
Owners: @devops-team, @test-architect

Add public-samples/page-object-model-eyegxw/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team, @test-architect

Add public-samples/page-object-model-eyegxw/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @test-architect

Add public-samples/page-object-model-eyegxw/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @test-architect

Add public-samples/page-object-model-eyegxw/src/test/README.md
  src/test/README.md
Owners: @qa-lead

Add public-samples/page-object-model-eyegxw/src/test/extent-config.xml
  src/test/extent-config.xml
Owners: @qa-lead

Add public-samples/page-object-model-eyegxw/src/test/log4j2.xml
  src/test/log4j2.xml
Owners: @qa-lead

Add public-samples/page-object-model-eyegxw/src/test/pom.xml
  src/test/pom.xml
Owners: @qa-lead

Add public-samples/page-object-model-eyegxw/src/test/testng-crossbrowser.xml
  src/test/testng-crossbrowser.xml
Owners: @qa-automation-team, @qa-lead

Add public-samples/page-object-model-eyegxw/src/test/testng.xml
  src/test/testng.xml
Owners: @qa-automation-team, @qa-lead

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/config/BrowserType.java
  src/test/com/storydoc/config/BrowserType.java
Owners: @test-architect

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/config/ChromeConfig.java
  src/test/com/storydoc/config/ChromeConfig.java
Owners: @test-architect

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/config/ConfigProperties.java
  src/test/com/storydoc/config/ConfigProperties.java
Owners: @test-architect

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/config/ConfigurationManager.java
  src/test/com/storydoc/config/ConfigurationManager.java
Owners: @test-architect

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/config/EdgeConfig.java
  src/test/com/storydoc/config/EdgeConfig.java
Owners: @test-architect

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/config/EnvironmentType.java
  src/test/com/storydoc/config/EnvironmentType.java
Owners: @test-architect

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/config/FirefoxConfig.java
  src/test/com/storydoc/config/FirefoxConfig.java
Owners: @test-architect

Add public-samples/page-object-model-eyegxw/src/test/com/storydoc/constants/MessageConstants.java
  src/test/com/storydoc/constants/MessageConstants.java
Owners: @qa-automation-team
